<% content_for :title, t("circuitverse.teachers.title") %>

<div class="row center-row">
  <div class="col-12">
    <h1 class="mt-5 mb-2 text-secondary-green"><%= t("circuitverse.teachers.main_heading") %></h1>
    <div class="teacher-main-description-container mx-auto mb-3">
      <p class="main-description"><%= t("circuitverse.teachers.main_description") %></p>
    </div> <br>
    <h2><%= t("circuitverse.teachers.benefits") %></h2>
  </div>
</div>
<div class="container-fluid py-5 bg-card-green">
  <div class="container">
    <div class="row center-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-start">
        <h4><%= t("circuitverse.teachers.create_group_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.create_group_description") %></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <img class="border border-2 border-shadow-grey mh-100 mw-100" src="img/groups.png" alt="Groups screenshot">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row center-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-start">
        <h4><%= t("circuitverse.teachers.post_assignment_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.post_assignment_description") %></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <img class="border border-2 border-shadow-grey mh-100 mw-100" src="img/assignment.png" alt="Assignments screenshot">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5 bg-card-green">
  <div class="container">
    <div class="row center-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-start">
        <h4><%= t("circuitverse.teachers.grade_assignment_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.grade_assignment_description") %></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <img class="border border-2 border-shadow-grey mh-100 mw-100" src="img/grading.png" alt="Grading screenshot" height="250px">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container">
    <div class="row center-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-start">
        <h4><%= t("circuitverse.teachers.use_interactive_circuit_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.use_interactive_circuit_description") %></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <img class="border border-2 border-shadow-grey mh-100 mw-100" src="img/embed.png" alt="Embed screenshot" height="350px">
      </div>
    </div>
  </div>
</div>
